<form class="example-form" [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="onSubmit(formDir)">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Digite seu email" required>
      <mat-error *ngIf="password.invalid && formDir.submitted">
      Email obrigatório.
      </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Senha</mat-label>
    <input type="password" matInput formControlName="password" placeholder="Digite sua senha" required>
      <mat-error *ngIf="password.invalid && formDir.submitted">
        Senha obrigatória.
      </mat-error>
  </mat-form-field>
  <div class="error-auth">
    <mat-error *ngIf="!userAuth">Email ou senha inválidos.</mat-error>
  </div>
  <button type="submit" mat-raised-button color="primary">Entrar</button>
</form>
